* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    background-color: var(--secondary);
}

:root {
    --white: #FFFFFF;
    --primary: #93E1D8;
    --secondary: #DDFFF7;
    --tertiary: #FFA69E;
}