.confirmation-container {
    margin: 5rem;
}

.buyer-seller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.buyer-btn, .seller-btn {
    width: 12rem;
    height: 4rem;
    background-color: var(--tertiary);
    border: solid 5px var(--white);
    border-radius: 20px;
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
}

.buyer-btn:hover, .seller-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 2px 1px 2px var(--primary);
}