.login-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-family: "Open Sans", sans-serif;
}

.login-content {
    border: solid 5px var(--primary);
    border-radius: 20px;
    padding: 2rem;
}

h4 {
    font-size: 52px;
    text-align: center;
    color: var(--primary);
}

h5 {
    font-size: 32px;
    color: var(--primary);
}

.login-form {
    display: grid;
    gap: 1rem;
    padding: 2rem;
}

.form-input {
    height: 2.5rem;
    width: 25rem;
    border: solid 2px var(--primary);
    border-radius: 10px;
    font-size: 22px;
    background-color: var(--white);
}

.form-input:focus {
    outline: none !important;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.login-btn, .signup-btn {
    margin: 1rem 0;
    width: 10rem;
    height: 3rem;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    border: solid;
    border-radius: 20px;
    background-color: var(--tertiary);
}

.login-btn:hover, .signup-btn:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 1px 2px var(--primary);
}