.listings {
    display: grid;
    width: 50%;
    font-family: "Open Sans", sans-serif;
}

.listing-container {
    border: solid 0.5vw var(--primary);
    border-radius: 2vw;
    margin: 1vw;
    padding: 1vw;
}

h1 {
    font-size: 5vw;
    color: var(--primary);
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.listings h2 {
    font-size: 3.5vw;
    color: var(--primary);
    text-align: center;
}

h3 {
    font-size: 2.5vw;
    text-align: center;
    padding: 0.5vw;
}

.listing-info {
    display: grid;
}

.listing-info p {
    font-size: 1.4vw;
    padding: 0.2vw;
}
