.buying-container {
    border: solid 5px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin: 5vh;
    padding: 2vw;
    font-family: "Open Sans", sans-serif;
    scroll-snap-align: start;
}

.info {
    margin: 2vh 0;
    padding: 2vw;
    background-color: var(--white);
    border: solid var(--secondary);
    border-radius: 10px;
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    opacity: 0;
}

.info h2 {
    background-color: var(--white);
    text-align: center;
    margin: 1vh;
}

.info p {
    background-color: var(--white);
    padding: 0.5vw;
}

.listing-info {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}

.listing-title, .listing-price {
    text-align: center;
    background-color: var(--white);
    margin: 2vh 0;
}

.selection-buttons {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    gap: 20vw;
}

.response-buttons {
    display: flex;
    gap: 2vw;
    background-color: var(--white);
}

.response-buttons a {
    background-color: var(--white);
}

.like, .pass, .message, .info-btn {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    border: solid;
    font-size: 2.5vw;
    background-color: var(--primary);
}

.like:hover, .pass:hover, .message:hover, .info-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 2px 1px 2px lightgray;
}
