.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    font-family: "Roboto", sans-serif;
}

.home {
    font-size: 74px;
    font-weight: bold;
    color: var(--primary);
}

.links {
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    color: var(--primary);
}

.loggedIn-btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.profile, .logout {
    height: 4rem;
    width: 4rem;
    border-radius: 40px;
    border: none;
    font-size: 25px;
    background-color: var(--primary);
}

.profile:hover, .logout:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.login, .signup {
    font-weight: bold;
    color: var(--primary);
}