.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    font-family: "Roboto", sans-serif;
}

.home {
    font-size: 74px;
    font-weight: bold;
    color: var(--primary);
}

.links {
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    color: var(--primary);
}