.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    font-family: "Roboto", sans-serif;
}

.home {
    font-size: 5vw;
    font-weight: bold;
    color: var(--primary);
}

.links {
    font-size: 2vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 1vw;
    color: var(--primary);
}

.loggedIn-btn {
    display: flex;
    justify-content: space-between;
    gap: 1vw; 
}

.profile, .logout {
    height: 4vw; 
    width: 4vw; 
    border-radius: 4vw;
    border: solid;
    font-size: 2.5vw;
    background-color: var(--primary);
}

.profile:hover, .logout:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.login, .signup {
    font-weight: bold;
    color: var(--primary);
}
