.sell-container h1 {
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    opacity: 0;
}

.listing-form {
    display: grid;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    border: solid 5px;
    border-radius: 20px;
    background-color: var(--white);
    margin: 2rem;
    padding: 2rem;
    animation: slideLeft;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    opacity: 0;
}

.single-listing {
    display: grid;
    justify-content: center;
}

.delete-edit {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.delete-edit button {
    width: 40%;
    height: 5vh;
    border: solid 5px var(--primary);
    background-color: var(--tertiary);
    font-size: 24px;
    border-radius: 20px;
    font-weight: bold;
    color: var(--white);
    transition: transform 0.2s, box-shadow 0.2s;
}

.delete-edit button:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 1px 2px var(--primary);
    cursor: pointer;
}

.listing-header, .listing-description, .add-price {
    display: grid;
    gap: 0.5rem;
    background-color: var(--white);
}

.listing-header input, .add-price input {
    height: 3rem;
    width: 45rem;
    border: solid 5px var(--secondary);
    margin: 0.25rem 0;
    border-radius: 10px;
    background-color: var(--white);
    font-size: 24px;
}

.listing-description textarea {
    resize: none;
    height: 25rem;
    width: 45rem;
    border-radius: 15px;
    border: solid 5px var(--secondary);
    margin: 0.25rem 0;
    background-color: var(--white);
    font-family: "Open Sans", sans-serif;
    padding: 0.25rem;
    font-size: 24px;
}

.listing-description textarea:focus, .listing-header input:focus, .add-price input:focus {
    outline: none !important;
}

.listing-header h2, .listing-description h2, .add-price h2 {
    font-size: 32px;
    background-color: var(--white);
}