.listings {
    display: grid;
    width: 50%;
    font-family: "Open Sans", sans-serif;
}

.listing-container {
    border: solid 5px var(--primary);
    border-radius: 20px;
    margin: 1vw;
    padding: 1vw;
}

.listing-container:hover {
    cursor: pointer;
}

h1 {
    font-size: 5vw;
    color: var(--primary);
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.listings h2 {
    font-size: 3.5vw;
    color: var(--primary);
    text-align: center;
}

h3 {
    font-size: 2.5vw;
    text-align: center;
    padding: 0.5vw;
}

.listing-info-content {
    display: grid;
}

.listing-info-content p {
    font-size: 1.4vw;
    padding: 0.2vw;
}

.listing-page {
    display: flex;
    justify-content: space-between;
}

.single-listing {
    width: 50%;
    border: solid 5px var(--primary);
    border-radius: 20px;
    margin: 1vw;
    padding: 1vw;
    font-family: "Open Sans", sans-serif;
}
