.message-form {
    display: grid;
    justify-content: center;
    gap: 1rem;
    background-color: var(--white);
}

.message-container {
    border: solid 5px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin: 5rem;
    padding: 2rem;
    font-family: "Open Sans", sans-serif;
}

.message-container h2 {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background-color: var(--white);
}

.message-form {
    margin: 0.5rem;
}

.message-input {
    background-color: var(--white);
}

.message-input input {
    height: 3rem;
    width: 45rem;
    border-radius: 15px;
    border: solid 5px var(--secondary);
    margin: 0.25rem 0;
    background-color: var(--white);
    font-size: 24px;
    
}

.message-input textarea {
    resize: none;
    height: 15rem;
    width: 45rem;
    border-radius: 15px;
    border: solid 5px var(--secondary);
    margin: 0.25rem 0;
    background-color: var(--white);
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
}

.message-input textarea:focus, .message-input input:focus {
    outline: none !important;
}

.submit {
    height: 3.5rem;
    margin: 1rem 15rem 0 15rem;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    border: solid 5px var(--secondary);
    border-radius: 20px;
    background-color: var(--tertiary);
}

.submit:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 1px 2px var(--primary);
    cursor: pointer;
}