.profile-container {
    display: flex;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.profile-sidebar {
    width: 35%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 5px;
    border-radius: 20px;
    margin: 2vw;
    padding: 1vw;
    background-color: var(--primary);
}

.profile-info h2, .profile-info p {
    margin: 0.25vw 0;
    background-color: var(--primary);
}

.profile-info img {
    max-width: 50%;
    margin: 1vw;
    background-color: var(--primary);
}
