.reviews-sidebar {
    width: 65%;
    font-family: "Open Sans", sans-serif;
}

.review-info {
    display: flex;
    justify-content: space-between;
    border: solid;
    background-color: var(--primary);
}

.review-info h2 {
    background-color: var(--primary);
    font-size: 28px;
    padding: 0.25rem;
}

.review-date {
    background-color: var(--primary);
    margin: 0.25rem;
}

.review-text {
    border: solid;
    border-top: none;
    background-color: var(--white);
    padding: 0.25rem;
}

.user-reviews {
    display: grid;
    background-color: var(--primary);
    margin: 2rem;
}


.add-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.add-review-btn, .submit-review-btn {
    margin: 0.5rem 0 1rem 0;
    width: 10rem;
    height: 3rem;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    border: solid 5px var(--primary);
    border-radius: 20px;
    background-color: var(--tertiary);
}

.add-review-btn:hover, .submit-review-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 2px 1px 2px lightgrey;
}


.review-form {
    border: solid 5px;
    border-radius: 20px;
    margin: 2rem;
    padding: 0.5rem;
    display: grid;
    justify-content: center;
    background-color: var(--primary);
}

.review-form h2, .submit-review {
    background-color: var(--primary);
}

.review-title, .review-description {
    width: 100%;
    background-color: var(--primary);
}

.review-title input {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    width: 30rem;
    height: 2.5rem;
    background-color: var(--white);
    border: solid;
    border-radius: 10px;
    margin: 0.25rem 0;
    padding: 0.25rem;
}

.review-description textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    height: 20rem;
    width: 30rem;
    border: solid;
    border-radius: 10px;
    background-color: var(--white);
    resize: none;
    margin: 0.25rem 0;
    padding: 0.25rem;
}

